In [1]:
from utils.CostumerData import CostumerData
from utils.config import preprocessor,logistic,xgb,forest
import pandas as pd

In [2]:
data= CostumerData(
    income_annum=5100000,
    loan_amount=15000000,
    loan_term=10,
    cibil_score=750,
    bank_asset_value=4600000,
    total_assets=3150000,
    loan_to_income=2.94,
    loan_to_assets_ratio=1.48,
    education='Graduate',
    self_employed='No',
    commercial_assets_value= 0,
    residential_assets_value= 0,
    luxury_assets_value = 0,
    no_of_dependents = 0
)

In [3]:
data

CostumerData(income_annum=5100000, loan_amount=15000000, loan_term=10, cibil_score=750, bank_asset_value=4600000, total_assets=3150000, loan_to_income=2.94, loan_to_assets_ratio=1.48, education='Graduate', self_employed='No', commercial_assets_value=0, residential_assets_value=0, luxury_assets_value=0, no_of_dependents=0)

In [4]:
new_data = pd.DataFrame([data.model_dump()])
new_data

,income_annum,loan_amount,loan_term,cibil_score,bank_asset_value,total_assets,loan_to_income,loan_to_assets_ratio,education,self_employed,commercial_assets_value,residential_assets_value,luxury_assets_value,no_of_dependents
0,5100000,15000000,10,750,4600000,3150000,2.94,1.48,Graduate,No,0,0,0,0

In [8]:
processed = preprocessor.transform(new_data)
bool(forest.predict(processed)[0])

False